<h1>Create Your Health Gauge</h1>
<div>
    <form action="/health/{{id}}" method="post">
        <p>0
            <label name='level'></label>
            <input name='level' type="input" />
            Full
        </p>
        <p>Select a number from 1 - 4</p>
        <h2>Health Assessment</h2>
        <p>
            <input label='submit' type="submit" />
        </p>

    </form>
</div>
