
<div class="centerContainer">
    <div class="centerItem">
    <h2>Create Your Health Gauge</h2>
    {{!-- <form action="/health/{{id}}" method="post"> --}}
    <form action="/health/{{id}}" method="post">
        <p>0
            <label name='level'></label>
            <input name='level' type="input" />
            Full
        </p>
        <p>Select a number from 1 - 4</p>
        <h4>Health Assessment</h4>
        <p>
            <label name='healthAssessment'></label>
            <input name='healthAssessment' type="input" />
        </p>
        <p>
            <input label='submit' type="submit"/>
              {{!-- <a href="/work/new/{{id}}" type="submit" class="fas fa-chevron-right"></a> --}}

        </p>
    </form>
    </div>
</div>
