<h1>Your Health Gauge</h1>
<div>
    <form action="" method="post">

        <p>
            <label name='level'>Level</label>
            <input name='level' type="input" />
        </p>

        <p>
            <input label='submit' type="submit" />
        </p>

    </form>
</div>
