<div class="centerContainer">
    <div class="centerItem">
    <h2>Your Dashboard</h2>
    <h4><a class="blueLink" href="/health/edit/{{healthGauge.id}}">Health </a>{{healthGauge.level}}</h4>
    <h4 class="blueLink">Work</h4>
    <h4 class="blueLink">Play</h4>
    <h4 class="blueLink">Love</h4>
    <a class="deleteButton" href="/user/delete/{{healthGauge.user}}">Delete Account</a>
    </div>
</div>