<h3>Sign Up:</h3>
<div>
    <form action="" method="post">

        <p>
            <input type="email" name="email" placeholder="email">
        </p>

        <p>
            <input type="password" name="password" placeholder="password">
        </p>

        <p>
            <input type="submit" value="Sign Up">
        </p>

    </form>
</div>
