<h1>Designing<br>Your Life</h1>
<h2>Companion App</h2>
<p>A companion app for the book, Designing Your Life: How to Build a Well-Lived, Joyful Life, by Bill Burnett and Dave Evans</p>
<div><a href="/user/sign-up">Sign Up</a></div>
<div><a href="/user/sign-in">Sign In</a></div>