<div class="cover">
    <div class="coverTitle">
    <h1>Designing<br>Your Life</h1>
    <h3>Companion App</h3>
    <p class="bookDescription">A companion app for the book, Designing Your Life: How to Build a Well-Lived, Joyful Life, by Bill Burnett and Dave Evans</p>
    <div class="buttonSignUp"><a href="/user/sign-up">Sign Up</a></div>
    <div class="buttonSignIn"><a href="/user/sign-in">Sign In</a></div>
    </div>
</div>